/* Title Styling */
.inventory-title {
    font-size: 24px;
    font-weight: bold;
    color: #1F325C; /* Deep Blue */
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

/* Card Styling */
.inventory-card {
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.15);
    height: 230px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
}

/* Icon Styling */
.inventory-card-icon {
    font-size: 30px;
    color: #1F325C; /* Deep Blue */
    margin-bottom: 12px;
}

/* Card Title */
.inventory-card-title {
    font-size: 16px;
    font-weight: bold;
    color: #1F325C;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Card Text */
.inventory-card-text {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* Button Styling */
.inventory-launch-button {
    background-color: #1F325C;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    padding: 6px 12px;
    margin-top: auto;
    transition: all 0.3s ease;
}

/* Button Hover Effect */
.inventory-launch-button:hover {
    background-color: #1F325C;
    color: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* Responsive Layout */
@media (max-width: 768px) {
    .inventory-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .inventory-card {
        width: 100%;
        max-width: 300px;
    }
}

/* Font Family */
.inventory-card-title, .inventory-card-text, .inventory-launch-button, .inventory-title {
    font-family: 'Roboto', sans-serif;
}
/* Hover effect for all cards */
.inventory-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for transform and box-shadow */
}

.inventory-card:hover {
    transform: scale(1.05); /* Slightly scale up the card */
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2); /* Enhance the shadow on hover */
}
