/* Operations & Logistics Title */
.operations-logistics-title {
    font-size: 24px;
    font-weight: bold;
    color: #1F325C;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

/* Card Styling */
.operations-logistics-card {
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    height: 230px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
}

/* Icon styling */
.operations-logistics-card-icon {
    font-size: 28px;
    color: #1F325C;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Title inside the card */
.operations-logistics-card-title {
    font-size: 16px;
    font-weight: bold;
    color: #1F325C;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Text inside the card */
.operations-logistics-card-text {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
    margin-top: 10px;
}

/* Launch Button Styling */
.operations-logistics-launch-button {
    background-color: #1F325C;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    padding: 6px 12px;
    margin-top: auto;
    transition: all 0.3s ease;
}

.operations-logistics-launch-button:hover {
    background-color: #1F325C;
    color: #fff;
    transform: scale(1.15);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Responsive Layout */
@media (max-width: 768px) {
    .operations-logistics-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .operations-logistics-card {
        width: 100%;
        max-width: 300px;
    }
}

/* Font family for titles, text, and buttons */
.operations-logistics-card-title,
.operations-logistics-card-text,
.operations-logistics-launch-button,
.operations-logistics-title {
    font-family: 'Roboto', sans-serif;
}
/* Hover effect for all cards */
.operations-logistics-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for transform and box-shadow */
}

.operations-logistics-card:hover {
    transform: scale(1.05); /* Slightly scale up the card */
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2); /* Enhance the shadow on hover */
}
